.germania-one-regular {
  font-family: "Germania One", system-ui;
  font-weight: bold;
  font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    font-family: "Germania One";
}

.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #93C572 70%, #C8EBB1 30%);
    position: relative;
    overflow: hidden;
}

.wave{
    position: absolute;
    top: 0;
    right: 28%;
}

nav {
  width: 90%;
  margin: auto;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul{
  display: flex;
  list-style-type: none;
}

nav ul li{
  margin: 0 5px;
}

nav ul li a{
  text-decoration: none;
  padding: 10px 20px;
  font-size: 20px;
  color: black;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}
nav img{
  width: 100px;
  height: 100px;
}
nav ul li a::after{
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  background: #C8EBB1;
  z-index: -1;
  transition: 0.5s;
}

nav ul li a:hover:after{
  width: 100%;
}

.main-content{
  width: 60%;
  padding-top: 100px;
  margin-left: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.image-pista, .main-text{
  flex-basis: 50%;
}

.image-pista img{
  width: 100%;
}

.main-content h1 {
  font-size: 60px;
  letter-spacing: 6px;
  color: #494234;
}

.main-content p{
  margin-top: 10px;
  font-size: 20px;
  letter-spacing: 1px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.main-content button{
  margin-top: 30px;
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  outline: none;
  border: none;
  padding: 10px 50px 10px 10px;
  border-radius: 0 50% 50% 0;
  background-color: #494234;
  cursor: pointer;
  color: white;
}

.swiper{
  width: 25rem;
  height: 30rem;
  z-index: 5;
}

.swiper-slide{
  display: flex;
  align-items: center;
  justify-content: center;
}

.right{
  position: absolute;
  right: 3%;
  bottom: 20%;
}

.box{
  display: flex;
  align-items: center;
}

.right .box .image img{
  width: 80%;
}

.image{
  margin-top: 2rem;
  width: 30%;
  height: 30%;
  border-radius: 50%;
  box-shadow: -5px 5px 17px rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
  justify-self: center;
  transition: 0.5s;
}
.image:hover{
  background-color: rgb(73, 66, 52, 0.7);
}

.box .inner-box{
  margin: 1.5rem 0 0 1rem;
}

.inner-box h3,p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;   
}

.inner-box h3{
  line-height: 30px;
}
